#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h3,h5{
font-style:italic;
}

 .C{
    background-color: cornflowerblue;
    color: white;
 }
  div button{
    background-color: purple;
    color: azure;
 }
 button:hover{
    background-color:yellow;
    color: blue;
 }
 p:nth-child(odd){
    color: yellow;
 }
 h1::first-letter{
   color:red;
 }
 input:hover{
   color: darkgreen;
 }
#yes:checked+label{
   color: darkgreen;
}
